img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 40%;
    padding: 5%;
}
.title {
    padding: 2em;
    background-color: #BF4E49;
    color: #fff;
}

h1, p {
    text-align: center;
}
h2 {
    padding: 2%;
}
p {
    padding: 2%;
}

.outer-box {
    padding: 5%;
    background-color: #2A4758;
}
.content-box {
    background-color: #fff;
}

body {
    background-color: #2A4758;
}

.skills {
    float: left;
}
.container {
    margin:5%; 
    padding-bottom: 10%;
}
.second-container {
    padding: 5%;
}
.box {
    display: block;
    align-items: center;
    background-color: gray;
    color: gray;
    border: black;
    height: 150%;

}